/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.indexRow {
  padding: 1rem 0;
}

.carousel {
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
